.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: lime;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: #332b2b;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: black;
}